body{

    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.entire{
    background-color: rgb(220, 222, 235);
    margin: 0 auto;
    width: 70%;
    padding: 2em;
    border:1px solid navy;
    border-radius: 5px;
}
img{
    
    border: 3px solid #555;
    border-radius: 2em;
    align-content: center;
    
}

h1,h3{
    text-align: center;
    
}

.start{
    background-color: rgb(4, 41, 122);
    color: white;
}
li{
    text-align: left;
}